.input {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
  border: none;
  inline-size: 100%;
  position: relative;

  &__wrapper {
    width: 100%;
    height: 48px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    background: var(--input-bg-color);

    &:hover {
      background-color: var(--input-hover-bg-color);
    }
    &:focus,
    &:focus-visible {
      outline: none;
    }

    &_isInvalid {
      border-color: var(--input-error-border-color);
    }
  }

  &__error {
    color: var(--input-error-color);
    font-size: 12px;
    position: absolute;
    bottom: -20px;
  }

  &__label {
    color: var(--input-label-color);
    font-size: 12px;
  }

  &__password-icon {
    position: absolute;
    right: 8px;
    top: 50%;
  }

  &__inner {
    width: 100%;
    appearance: none;
    border: none;
    border-radius: inherit;
    background: transparent;
    block-size: 100%;
    padding: 0 12px;
    box-sizing: border-box;
    color: var(--text-color);
    font-size: 14px;
    font-family: inherit;

    &_right-padding {
      padding-right: 36px;
    }

    &::placeholder {
      color: var(--icon-button-icon-color);
    }

    &:focus,
    &:focus-visible {
      outline: 1px solid var(--focus-outline-color);
    }
  }
}
