:root {
  --font-family: "Martian mono";

  --app-bg-color: #242424;

  --error-bg-color: #511111;
  --error-text-color: #ffbfbf;

  --outline-color: #f0f0f0;

  --input-bg-color: #1e1e1e;
  --input-hover-bg-color: #232323;
  --input-border-color: #444;
  --input-label-color: #bababa;
  --input-error-border-color: #800d00;
  --input-error-color: #ef4444;

  --text-color: #f0f0f0;

  --icon-button-size: 24px;
  --icon-button-icon-color: #8e8d8d;
  --icon-button-active-icon-color: #f0f0f0;
  --icon-button-hover-icon-color: #f0f0f0;

  --button-bg-color: #1d1d1d;
  --button-hover-bg-color: #1d1d1d;
  --button-active-bg-color: #232323;
  --button-disabled-bg-color: #3b3a39;
  --button-disabled-color: #81807e;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--app-bg-color);
}
