.form {
  display: flex;
  justify-content: center;
  flex-grow: 2;

  &__inner {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    border: none;
    border-radius: 16px;
    background-color: var(--tertiary-color);
    box-shadow: var(--box-shadow-secondary);
    padding: 3rem 1rem;
    box-sizing: border-box;
  }

  &__button {
    margin-top: 16px;
  }
}
