.form {
  display: flex;
  justify-content: center;
  flex-grow: 2;

  &__inner {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__button {
    margin-top: 16px;
  }
}
