.icon-button {
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
  flex-wrap: nowrap;
  position: relative;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  background-color: transparent;

  min-inline-size: var(--icon-button-size);
  block-size: var(--icon-button-size);

  fill: var(--icon-button-icon-color);

  &:active {
    fill: var(--icon-button-active-icon-color);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    fill: var(--outline-color);
    outline: 1px solid var(--outline-color);
    border-radius: 4px;
  }

  &:hover {
    fill: var(--icon-button-hover-icon-color);
  }
}
